# Data (Too large for git)
data/
*.jpg
*.png
*.csv

# Python Artifacts
__pycache__/
*.py[cod]
*$py.class
*.so
.pytest_cache/
.ruff_cache/

# Environments
venv/
env/
.env
.venv

# IDE Settings
.vscode/
.idea/

# OS Files
.DS_Store
Thumbs.db